<div class="index_c">
    <h1>Coordinadores</h1>
    <div class="button_panel">
        <button>
            <a class="link" href="<%= indexPath %>">Lista de acciones</a>
        </button>
        <button>
            <a class="link" href="<%= newCoordinatorPath %>">Agregar coordinador</a>
        </button>
    </div>

    <table class="ind_table">
        <thead>
        <tr>
            <th>Nombre</th>
            <th>Email</th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        <% coordinators.forEach(coordinator => {%>
            <tr>
                <td><%= coordinator.name %></td>
                <td><%= coordinator.email %></td>
                <td>
                    <button>
                        <a class="link" href="<%= coordinatorPath(coordinator.id) %>">Ver más</a>
                    </button>
                </td>
            </tr>
        <% }) %>
        </tbody>
    </table>
</div>
